<% if @attachment.errors.present? %>
  $(".alert").html("<%= j flash.now[:alert] %>");
  $(".notice").empty();
<% else %>
  $(".alert").empty();
  $(".notice").html("<%= j flash.now[:notice] %>");
<% end %>

$('.attachments').each(function() {
  if ($(this).find('.attachment').size() == 0) {
    $(this).html('<span>none</span>')
  }
})