<% if @attachment.errors.present? %>
  $(".alert").html("<%= j flash.now[:alert] %>");
  $(".notice").empty();
<% else %>
  $(".alert").empty();
  $(".notice").html("<%= j flash.now[:notice] %>");
<% end %>

if ($('.question>.attachments>.attachment').size() == 0) {
  $('.question>.attachments').html('<span>none</span>')
}
